Lesson 1
-
-installing python and jupyter lab
-Hello World! (strings)
-comments #
-integers, floats, and booleans, combining them with strings

In [7]:
"a "+"b"

'a b'

In [1]:
#Hello World!
print('Hello World!') #this is a string

Hello World!

In [1]:
#Data types: integers, strings, floats, booleans

x = 2 #integer
y = 3 #integer
print('x = '+str(x)) #cast x to a string in order to add it to the end of a string
print('y = '+str(y)) #same as above but with y
print(f'x + y = {x+y}') #print the sum by using an f-string

print('\n') #make a new line

a=1.2 #float
b=5.6 #float
print('a = '+str(a)) #can cast a float to a string just as we did for an integer
print('b = '+str(b))
print(f'a + b = {a+b}') #can use an f-string to add floats


#booleans
print('a = '+str(a)+' : ' +str(a==a))
print('a = b : '+str(a==b))
print('a > b : '+str(a>b))
print('a < b : '+str(a<b))

x = 2
y = 3
x + y = 5


a = 1.2
b = 5.6
a + b = 6.8
a = 1.2 : True
a = b : False
a > b : False
a < b : True

In [2]:
a=b

TypeError: 'a' is an invalid keyword argument for print()

In [ ]:
#strings
name = "Pat"
another_name = 'John'

In [ ]:
#ints
number = 2
another_number = -6

In [ ]:
#floats
my_float = 2.4

In [ ]:
#bools
fact = True
wrong = False

In [ ]:
#lists
numbers = [1,5,8,4]
words_nums = ['cactus', 80.4, 3, 'where']

In [13]:
x = 2 
y = 3.2 

added = x+y

subtracted = x-y
multiplied = x*y
divided = x/y


print(type(added))

added_to_string = str(added)
print(type(added_to_string))

print('The sum of ' + str(x) + ' and ' + str(y) + ' is ' + str(added))

<class 'float'>
<class 'str'>
The sum of 2 and 3.2 is 5.2

In [9]:
a = 3
b = '3'
print(a != b)

True

In [15]:
1 + 2

3

In [16]:
'two'

'two'

In [18]:
a=2
b=3
a=b
a

3

In [12]:
False == 'False'

False

In [13]:
type(True)

bool

In [16]:
type(str(False))

str